// Colors
$primary-color: #ff69b4;
$secondary-color: #ffffff;
$background-primary-color: #ff69b4;
$background-secondary-color: #ffd9ec;
$background-color: #fff;
$text-color: #333;

// Typography
$font-family: "Arial, sans-serif";
$base-font-size: 16px;
